.result h2 {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 40px;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.result-cards {
  margin-bottom: 80px;
}

.no-result {
  margin-bottom: 40px;
}

.recipe-card h3 {
  color: black;
  margin-bottom: 20px;
}
