@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  min-height: 100vh;
}

.cards-view {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* Each card */
.recipe-card {
  padding: 20px 30px;
  border: 1px solid rgb(177, 177, 177);
  box-sizing: border-box;
  text-align: left;
  border-radius: 12px;
  flex: 0 0 calc(33.33% - 20px);
  background: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.recipe-card h2 {
  margin-bottom: 16px;
}

.recipe-card p {
  font-size: 14px;
  color: #868686;
  margin-bottom: 8px;
}

.recipe-card p .sub-title {
  color: #262626;
  font-weight: bold;
  margin-bottom: 8px;
  display: inline-block;
}

/* Buttons */
.btn-out-line {
  border: 1px solid white;
  padding: 6px 20px;
  border-radius: 40px;
  font-size: 14px;
  display: inline-block;
}

.btn-full-line {
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
  background-color: #ea2d2d;
  border: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

/* Loading */
.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.loading img {
  width: 100px;
}

.content-area {
  max-width: 1200px;
  padding: 40px;
  margin: 0 auto;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 60px 0;
}

.pagination button {
  padding: 0.5rem 0.8rem;
  border: none;
  background-color: #eee;
  cursor: pointer;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
}

.pagination button.active {
  background-color: #ea2d2d;
  color: white;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
