/* Medium screens */
@media (max-width: 992px) {
  .recipe-card {
    flex: 0 0 calc(50% - 20px); /* 2 cards per row */
  }
}

/* Small screens */
@media (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
  .Theme-Buttons {
    justify-content: center !important;
  }
  .recipe-card {
    flex: 0 0 100%; /* 1 card per row */
  }
  .logo img {
    display: none;
  }
}

/* Extra small screens (optional) */
@media (max-width: 480px) {
  nav {
    flex-direction: column;
    gap: 10px;
    padding: 8px 0;
    padding-bottom: 12px;
  }
  .right-nav {
    flex-direction: column;
    display: flex;
    gap: 12px;
    margin: 0 8px;
    justify-content: normal;
    width: 100%;
    align-items: normal;
  }
  .searchBar form input {
    width: 100%;
  }
  .right-nav .btn-out-line {
    text-align: center;
  }
  .recipe-card h2 {
    font-size: 18px; /* smaller title */
  }

  .recipe-card p {
    font-size: 12px; /* smaller paragraph */
  }

  .btn-out-line,
  .btn-full-line {
    padding: 6px 16px; /* smaller buttons */
    font-size: 12px;
  }

  .cards-view {
    gap: 15px;
  }

  .content-area {
    padding: 20px;
  }

  .wrapper {
    padding: 0 15px;
  }
}
